<div
  class="container is-fluid"
  [style.width]="accounts.length != 0 ? '100%' : '50%'"
>
  <div class="columns mx-6">
    @if(accounts.length != 0){ @for(account of accounts;let i = $index;track
    account.accountNumber){
    <div
      class="column mat-elevation-z3 m-3"
      (click)="setCurrentAccount(account.accountNumber)"
    >
      <button
        mat-icon-flat
        class="active"
        [style.visibility]="checkIsActive(i)  ? 'visible' : 'hidden'"
      >
        <mat-icon>star</mat-icon>
      </button>

      <div class="mt-1">
        <h5>Account Type: {{ account.type }}</h5>
        <h3>Balance: {{ account.balance | currency }}</h3>
        <h5>Account Number : {{ account.accountNumber }}</h5>
      </div>

      <!-- <app-widget data="" location="top" [component]="'account'"/> -->
    </div>
    } }@else{

    <div
      class="column p-5 has-background-primary mb-5 placeholder mat-elevation-z3"
    >
      No accounts to display
    </div>
    }
  </div>
</div>
<div class="container is-fluid mt-5 mb-5">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="mx-4 mb-2">
    @for (link of links; track link) {
    <a
      mat-tab-link
      class="button is-link is-inverted mx-3"
      [routerLink]="link.route"
    >
      {{ link.label }}
    </a>
    }
  </nav>
  <div class="tab-panel">
    <mat-tab-nav-panel #tabPanel>
      <router-outlet [routerOutletData]="transferData()"></router-outlet>
    </mat-tab-nav-panel>
    <!-- <button mat-raised-button class="example-action-button" (click)="addLink()">
                Add link
              </button> -->
  </div>
</div>
