.column {
  cursor: pointer;
  height: 10rem;
  border-radius: 15px;
  text-align: center;
  background-color: blueviolet;
  transition: transform 0.3s ease;
}
.active {
  color: yellow;
  float: left;
}
.column:active {
  transform: scale(0.95);
  /* background-color: yellow; */
}
.is-link {
  background-color: deepskyblue;
}
.tab-panel {
  border: 2px solid darkblue;
  border-radius: 10px;
   height: 55vh; 
}
.container {
  position: unset;
}
.clearfix {
  content: "";
}
/* mat-tab-nav-panel{
    position: relative;
    background-color: rebeccapurple !important;
} */
