<div [@showOptions]="showOptions()" class="mat-elevation-z3"
  [style.BackgroundColor]= "backgroundColor" 
  [style.Height]= "height">
    @if(showOptions()){
        <app-widget-options [(showOptions)] = showOptions (backgroundColor) = "setBackgroundColor($event)"></app-widget-options>
    }
    @if(!showOptions()){
        <button mat-icon-button  (click) = "showSelectedTab()" >
            <mat-icon>settings</mat-icon>
        </button>
       <p>Widget works!</p>
    }
</div>


<!-- 
<div class="conatainer is-fluid mt-6">
    <div class="columns is-2 is-tablet">
      @for(widget of widgetStore.widgets();track widget.id){
        <div class="column  mat-elevation-z3 mx-3 top-widget" [style.BackgroundColor] = "widget.backgroundColor" [@showOptions] = "widget.showSetting">
            <button mat-icon-button  (click)="showSelectedTab(widget)" >
                <mat-icon>{{widget.Icon}}</mat-icon>
            </button>
            <div> -->
                <!-- <button mat-icon-button  (click)="showOptions.set(!showOptions())" >
                    <mat-icon>{{widget.Icon}}</mat-icon>
                </button> -->
               
            <!-- </div>
            <div [class]="'setting'"> -->
                <!-- <button mat-icon-button  (click)="showOptions.set(!showOptions())" >
                    <mat-icon>{{widget.Icon}}</mat-icon>
                </button> -->
                <!-- <app-widget-options></app-widget-options>
            </div> -->
           
            <!-- <ng-container [ngComponentOutlet] = "widget.content" /> -->
                <!-- <app-widget-options></app-widget-options> -->
                <!-- <p>{{widget.label}}</p>
                <app-widget-options></app-widget-options>
                @if(widget.showSetting)
                {
                    <app-widget-options></app-widget-options>
                } -->
                <!-- @if(!showOptions()){<ng-container [ngComponentOutlet] = "widget.content" />} -->
                
                
         
<!--            
        </div>
      }
    </div>
    <div class="columns mt-6 mx-1 ">
        <div class="column mat-elevation-z3 border mr-4 is-two-thirds  bottom-widget">
            Trends
            </div>
            <div class="column mat-elevation-z3 border mr-4  bottom-widget">
                Recent Transactions
            </div>
     </div>
</div> -->


