#test {
  overflow: hidden;
}
mat-sidenav {
  border-radius: 0%;
  background-color: lightgoldenrodyellow;
}
mat-sidenav-container {
  height: calc(100vh - 24px);
  background-color: lightgrey;
}
.nav-list {
  position: relative;
}
.logout {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

mat-sidenav-content {
  /* overflow: hidden; */
}
