
    <mat-sidenav-container>
        <mat-sidenav opened mode="side" [style.width] = navWidth()>
            <div id="test" [class]= "btnClass()">
                <button mat-icon-button (click)="toggleIsOpened()">
                    <mat-icon>{{iconType()}}</mat-icon> 
                </button>
            </div>
            <div class="nav-list">
                <app-dashboard-nav [isOpened]="isOpened()"></app-dashboard-nav>
            </div>
            <div class="logout mt-5" style="transform: rotateY(-180deg);" (click)="logout()">
                <button>
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="content pt-5" [style.margin-left] = navWidth()>
        <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-footer ></app-footer>
    
    


