<section class="hero hero-section is-medium">
    <div class="hero-body ">
        <div class="columns">
            <div class="column section-content has-background-danger p-5"></div>
            <div class="column section-content is-three-fifths">
                <button mat-button class="has-background-warning btn-1 has-text-black mb-5">Last Chance!</button>
                <h2 class="has-text-link">Switch to Slim Financial</h2>
                <h3>and Get a Macbook</h3>
                <p>Open an eligible account.</p>
                <p class="mat-body-small">conditions applies</p>
                <button mat-button class=" btn-2 has-background-link has-text-white">View offer Details</button>
            </div>
        </div>
    </div>
</section>


