
.mat-column-ID{
    width: 5vw;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}
.mat-column-Date{
    width: 10vw;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}
.mat-column-Description{
    width: 65vw;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}
.mat-column-Amount{
    width: 10vw;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}
.mat-column-Debit{
    width: 10vw;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}
.mat-column-Balance{
    width: 10vw;
    /* padding-right: 24px; */
    text-align: center;
}
.mat-mdc-table{
    background-color: transparent;
}
.mat-mdc-row{
    height: fit-content;
    border-bottom: 1px solid black;
}
.mat-mdc-header-row {
    height: fit-content;
    text-align: center;
}

