<section class="section locator-section is-small">
    <div class="container is-flex is-justify-content-end">
        <mat-card appearance="outlined" style="width: 580px;" class="has-background-white-bis">
            <mat-card-header>
                <mat-card-title class="mat-headline-large">Find a Branch or ATM Near You</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>Be sure to check before you visit as some branches may have reduced hours.</p>
                <form>
                    <label class="mb-5">Search By:</label><br>
                    <input type="text" placeholder="Postal Code, Address, location or Transit Number" class="mr-3 p-3 w-75"/>
                    <button mat-button>Search</button>
                </form>
              </mat-card-content>
          </mat-card>
    </div>

</section>
