<section class="section is-large p-0">
    <div class="container p-5">
        <mat-card class="form-container mat-elevation-z8  py-5">
            <div class="mx-5 ">
                <form >
                    <label class="mr-3">How can we help you today?</label>
                    <input class="p-4 mr-5" type="text" id="fname" placeholder="Ask your question..." name="fname" >
                    <input  type="submit" class="p-4" value="Ask">
                  </form>
            </div>
        </mat-card>
    <div class="columns is-mobile">
        <div class="column is-4 services">
            <mat-card apperance="outlined" >
                <mat-card-header class="mx-auto">
                    <mat-card-title class="mat-headline-large pt-5">Better Banking</mat-card-title>
                  </mat-card-header>
                  <mat-card-content >
                    <p class="has-text-centered">
                     Whatever you need we've got you covered
                    </p>
                    <mat-list role="list">
                        <mat-list-item role="listitem" id="investments" >
                            <p class="mat-title-medium">Savings and investment</p>
                        </mat-list-item>
                        <mat-list-item role="listitem" id="accounts">
                            <p>We have the best accounts</p>
                        </mat-list-item>
                        <mat-list-item role="listitem" id="loans">
                            <p>Accessible loan options</p>
                        </mat-list-item>
                        <mat-list-item role="listitem" id="mortgages">
                            <p>Flexible Mortgage options</p>
                        </mat-list-item>
                        <mat-list-item role="listitem" id="credit-cards" class="mb-0" >
                            <P>Credit cards</P>
                        </mat-list-item>
                      </mat-list>
                      <mat-divider ></mat-divider>
                      <div class="is-flex is-justify-content-end pt-5 ">
                        <p class="mr-5 has-text-link">Join Slim Financial</p>
                        <mat-icon class="has-text-link">arrow_forward</mat-icon>
                      </div>
                      
                  </mat-card-content>
            </mat-card>
        </div>
        <div class="column is-4 services">
            <mat-card apperance="outlined">
                <mat-card-header class="mx-auto">
                    <mat-card-title class="mat-headline-large pt-5">Customer Service</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p class="has-text-centered">
                    We're committed to keeping you informed and providing the support you need.
                    </p>
                    <mat-list role="list" >
                        <mat-list-item role="listitem" id="information" class="mb-0">
                            <p class="mat-title-large mt-3 has-text-black">Talk to an Advisor</p>
                        </mat-list-item>
                        <div class="">
                            <p class=" mx-6 panel-block has-text-link mat-title-medium has-text-weight-normal py-1">
                                <mat-icon>
                                    keyboard_arrow_right
                                </mat-icon>
                                Contact Us
                            </p>
                            <p class=" mx-6 panel-block has-text-link mat-title-medium has-text-weight-normal py-1">
                                <mat-icon>
                                    keyboard_arrow_right
                                </mat-icon>
                                Find a Branch or ATM
                            </p>
                            <p class="panel-block has-text-link mat-title-medium has-text-weight-normal py-1">
                                <mat-icon>
                                    keyboard_arrow_right
                                </mat-icon>
                                Book an Appointment
                            </p>
                           </div>
                    </mat-list>
                    <mat-list role="list" >
                        <mat-list-item role="listitem" id="mouse" class="mb-0">
                            <p class="mat-title-large mt-3 has-text-black">Benefits of Digital Banking</p>
                        </mat-list-item>
                        <div class="mx-6">
                            <p class="panel-block has-text-link mat-title-medium has-text-weight-normal py-1">
                                <mat-icon>
                                    keyboard_arrow_right
                                </mat-icon>
                                Contact Us
                            </p>
                            <p class="panel-block has-text-link mat-title-medium has-text-weight-normal py-1">
                                <mat-icon>
                                    keyboard_arrow_right
                                </mat-icon>
                                Find a Branch or ATM
                            </p>
                            <p class="panel-block has-text-link mat-title-medium has-text-weight-normal py-1">
                                <mat-icon>
                                    keyboard_arrow_right
                                </mat-icon>
                                Book an Appointment
                            </p>
                           </div>
                    </mat-list>
                  </mat-card-content>
            </mat-card>
        </div>
        <div class="column is-4 services">
            <mat-card apperance="outlined">
               
                  <img src="investments-banner.jpg" >
                  <mat-card-header>
                    <mat-card-title class="mat-headline-large has-text-link ">Earn 5.4% interest and give yourself a lift.</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p class="">
                      When you open your first slim financial High Interest Savings account.
                    </p >
                    <p class="mb-5">Offer ends {{expiryDate}}</p>
                    <mat-divider ></mat-divider>
                    <div class="is-flex is-justify-content-end pt-4">
                        <p class="mr-5  has-text-link">View Offer Details</p>
                        <mat-icon class="has-text-link">arrow_forward</mat-icon>
                      </div>
                  </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
</section>
