mat-card {
  display:flex;
  align-items:center;
  height: 20rem !important;
  text-align:center;
}
.content {
  background-color: deepskyblue;
  font-size: 7rem;
  height: 12rem;
  width: 12rem;
  text-align: center;
  line-height: 12rem;
  border-radius: 50% !important;
  margin-bottom:0%;
}
.info table {
  width: 100%;
  margin-top: 3.5rem !important;
}
