

<div class="mat-elevation-z3 container is-fluid" [style.backgroundColor]="'gray'">
   <button mat-icon-button (click) = closeTab()>
      <mat-icon>close</mat-icon>
  </button>
    <!-- <p class="text-center">color</p> -->
 <!-- <div class="columns mx-auto">

    <div class="column red border">

    </div>
    <div class="column blue">

    </div>
    <div class="column green">

    </div>
    <div class="column purple">

    </div>
 </div> -->
 
   <p class="m">Background Color</p>
   <div class="columns mx-auto">

      <div class="column red  p-3" (click)="changeBackgroundColor('red')">
         
      </div>
      <div class="column blue p-3"(click)="changeBackgroundColor('blue')">
  
      </div>
      <div class="column green p-3" (click)="changeBackgroundColor('green')">
  
      </div>
      <div class="column purple p-3" (click)="changeBackgroundColor('#F5EFFF')">
  
      </div>
   </div>
 

</div>
