<section class="section is-medium links-section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="mat-title-medium has-text-white">About Slim Financial</p>
                <ul class="list">
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        Investor Relations
                    </li>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        Media News Room
                    </li>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        Economics
                    </li>
                </ul>
            </div>
            <div class="column">
                <p class="mat-title-medium has-text-white">Customer Service</p>
                <ul class="list">
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        Apply Online
                    </li>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        Branch ATM Locator
                    </li>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        Voluntary Codes & Public Commitments
                    </li>
                </ul>
            </div>
            <div class="column">
                <p class="mat-title-medium has-text-white">Daily Numbers</p>
                <ul class="list">
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        Foreign Exchange
                    </li>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        Rates
                    </li>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        Mortgage Rates
                    </li>
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        Mutual Funds
                    </li>
                </ul>
            </div>
            <div class="column">
                <p class="mat-title-medium has-text-white">Protecting Your Money</p>
                <ul class="list-1">
                    <li>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        Canada Deposit Insurance Corporation Member info
                    </li>
                       <button >cdic
                        <mat-icon>lock</mat-icon>
                        sadc
                       </button>
                 
                </ul>
            </div>
        </div>

    </div>
</section>
<div class="footer has-background-grey-dark">
    <p>Slim Financial Website, &copy; 2024 </p>
        
</div>
