.sidenav-container {
  height: 100%;
  
}
img{
  width: 30px;
}
.sidenav {
  width: 200px;
  background-color: azure;
 
  margin-top: 13%;
  height: 30%;
}

.sidenav .mat-toolbar {
  /* background: inherit; */

}
mat-sidenav{
  border-radius: 0 !important;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: blue;
}
.navbar{
  background: transparent;
}
.navbar-menu{
  border-bottom: 1px solid;
  border-color: rgb(200, 200, 206);
  padding: 0%;
  
}
.navbar-item{
  margin-right: 60px;
  background-color: transparent !important;
  
}
.navbar-end >.navbar-item:hover{
  border-radius: 0;
  border-bottom: 2px solid blue;
  padding-bottom: 3px;
  transform: none;
}

.navbar-burger > button ,.mat-mdc-icon-button{
  background-color: transparent !important;
  border: none;
}
.top-nav > p:first-child{
  border-bottom:1px solid white ;
}
button{
  border: 1px solid white;
  border-radius:0%;
}
.mdc-button .mdc-button_label{
  color: black;
}
.mat-mdc-unelevated-button:not(:disabled){
  color: black;
  font-size: 18px;
}
@media screen and(min-width:768px) {
  button{
    border: none;
  }
}