#test{
    overflow: hidden;
}
mat-sidenav{
   border-radius: 0%;
    background-color: lightgoldenrodyellow;
}
mat-sidenav-container{
    height: calc(100vh - 24px);
    background-color: lightgrey;
}
mat-sidenav-content{
    /* overflow: hidden; */
}


