
canvas{
    width: 100% !important;
    /* height: 100% !important; */
}
.widget-container{
    backface-visibility: hidden;
    position: relative;
}
.widget-content{
    border-radius: 15px;
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
}
.one{
    background-color: whitesmoke;
    
    z-index: 1 !important;
}
.two{
    transform: rotateY(-180deg);
    background-color: whitesmoke;
   
}

button{
    position: absolute;
    right:0;
    cursor: pointer;
}

/* .setting{
    transform: (180deg) !important;
} */