<div [@showOptions]="showOptions()" class="mat-elevation-z3 widget-container"
  
  [style.Height]= "height">
  
  <div class="widget-content one" [style.BackgroundColor]= "backgroundColor" >
    <button mat-icon-button  (click) = "showSelectedTab()">
        <mat-icon>settings</mat-icon>
    </button> 
    <canvas #chart></canvas>
  </div>
    <div class="widget-content two">
        <app-widget-options [(showOptions)] = showOptions (backgroundColor) = "setBackgroundColor($event)"></app-widget-options>
      </div>
  

    <!-- @if(showOptions()){
        <app-widget-options [(showOptions)] = showOptions (backgroundColor) = "setBackgroundColor($event)"></app-widget-options>
    }
    @else{
        <button mat-icon-button  (click) = "showSelectedTab()">
            <mat-icon>settings</mat-icon>
        </button> 
        
    }
    
   
    <canvas #chart></canvas> -->
 
</div>





