<div class="container mt-1">
    <div class="columns is-2 is-tablet">
        @for(widget of widgetStore.widgets();track widget.id){
            <div class="column" >
                    
                <app-widget [data] = "" location ="top"></app-widget>
                      
            </div> 
        }
    </div>
</div>
<div class="container mt-2">
<div class="columns is-2">
    <div class="column is-three-fifths">
        <app-widget [data] = "" location="bottom"></app-widget>
    </div>
    <div class="column">
        <app-widget [data] = "" ></app-widget>
    </div>
</div>
</div>



