.container {
  position: relative;
  height: 70vh;
}
.nav-header {
  background-color: lightblue;
  border-radius: 50%;
  margin: auto !important;
  text-align: center;
  vertical-align: middle;
  > p {
    margin-top: 50px;
  }
}
button {
  border-radius: 0% !important;
  padding: 1rem !important;
  align-items: center;
}
.logout {
  position: absolute;
  bottom: 0;
}
mat-icon {
  font-size: 2.5rem;
  height: max-content;
  overflow: visible;
  margin: 0% !important;
}
mat-nav-list {
  margin: 2%;
}
span {
  display: flex;
  padding: 3.5rem;
  margin-top: 2rem;
}
